.antraste
{
    font-size: 40px;
    font-family: 'Comic Sans MS';
    text-align: center;
    vertical-align: top;
}
table, th, td {
    padding: 5px;
    border: 2px solid black;
}
table{
    margin: auto;
    width: 1000pt;
    height: 400pt;
}
.pastraipa
{
    font-size: 20px;
    font-family: 'Comic Sans Ms';
    text-align: center;
    vertical-align: middle;
}
body
{
    background-color: rgba(100, 100, 500, 0.5);
}
.lentele
{
    height:400px;
    width:1000px;
    border-collapse: collapse;
}
#vardas
{
    font-size:30px;
    font-family: 'Comic Sans MS';
    text-align: right;
    vertical-align: bottom;
}