.profilis
{
    font-size: 20px;
    font-family: 'Comic Sans MS';
    margin:right;
    text-align: right;
    padding:25px;
    float: right;
    padding-left:140px;
    padding-bottom:300px;  
    color:white;
}
a{
    color:gray;
    text-decoration: none;
}
.profilis img
{
    height:160px;
    width:200px;
    padding-top:100px;
}
body
{
    background-image: url("background.jpg");
    background-repeat: no repeat;
    background-attachment: fixed;
}
.divas
{
    background-color: lightblue;
    padding:20px;
    border:2px solid black;
    margin:left;
    width:900px;
    height:auto;
    text-align:left;
    font-size:20px;
    font-family: 'Comic Sans MS';
    margin-bottom: 20px;

}
#be_bot_mar {
    padding-bottom: 0px;
}
.profile
{
    color:white;
    font-size: 20px;
    font-family:'Comic Sans MS';
    text-align:left;    
}
.heading
{
    color:white;
    font-size: 45px;
    font-family: 'Comic Sans Ms';
    text-decoration: underline;
    text-decoration: bold;
    text-align: center; 
}
.foto
{
    padding:10px;
    text-align:center;
}