           #vardas
        {
            font-size:20pt;
            font-style:italic;
            text-align:right;
        }
        body
        {
            background-color:rgba(0,100,700,0.5)
        }
        .antraste
        {
            text-align:left;
            font-size:50pt;
            font-family:'Comic Sans MS';

        }
        .pastraipa
        {
            text-align:center;
            font-size:20pt;
            font-family:'Comic Sans MS';
        }
        a:hover{
            color: rgb(200, 200, 200);
            font-size: 200pt;
        }
        table, th, td{
            padding: 5px;
        }
        table{
            margin: auto;
            width: 1000pt;
        }
        .pirma{
            font-size:10pt;
            font-family:'Comic Sans MS';
            text-align: center;
            vertical-align:bottom;
        }
        .spalva{
            background-color: rebeccapurple;
            text-align:center;
            font-size:10pt;
            font-family:'Comic Sans MS';
            }