#id1
{
    height: 280px;
    width: 280px;
    padding-left:250px;
    padding-top:100px;
}
#id2
{
    height: 280px;
    width: 280px;
    padding-right:10px;
    padding-left:10px;
    padding-top:100px;
}
#id3
{
    height: 280px;
    width: 280px;
    padding-top:100px;
    padding-right:250px;
}
#id4
{
    height: 280px;
    width: 280px;
    padding-top:auto;
    padding-left:250px;
}
#id5
{
    height: 280px;
    width: 280px;
    padding-right:10px;
    padding-left:10px;
    padding-top:auto;
    margin: auto;
}
#id6
{
    height: 280px;
    width: 280px;
    padding-top:auto;
    padding-right:250px;
}
body{
    background-image: url("background.jpg");
}
#mygtukas
{
    margin-left:630px;
    margin-top:200px;
}